.workout-summary {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  border-bottom: 2px solid black;
  padding: 0.5rem 1rem;
}

.workout-summary > :first-child {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 2rem;
}

.workout-summary > :last-child {
  align-self: end;
  justify-self: end;
}
