.workout-controls {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.workout-controls__timer,
.workout-controls__workout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.workout-controls [data-hidden="true"] {
  visibility: hidden;
}

.workout-controls__button--empty {
  visibility: hidden;
}
